@model Route
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card col-lg-6 mx-auto">
    <div class="card-header">
        <div class="row">
            <div class="col-md-9">
                <h4>Edit Route</h4>
            </div>
            <div class="col-md-3 text-right">
                <a href="@TempData["referer"]" data-toggle="tooltip" title="Go Back" data-placement="bottom">
                    <i class="fas fa-arrow-left fa-2x text-muted"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <form asp-action="EditRoute" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="AddedDate" />
            <div class="form-group">
                <label asp-for="RouteCode"></label>
                <input asp-for="RouteCode" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
            </div>     
            <div class="form-group">
                <label asp-for="Status">Active</label>
                <input asp-for="Status" type="checkbox" class="ml-2" />
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-outline-success mt-2 ">Update</button>
            </div>
        </form>
    </div>

</div>