@model IEnumerable<Region>
@{   
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card">
    <div class="card-header col-lg-12">
        <div class="row">
            <div class="col-md-9">
                <h4>Region List</h4>
            </div>
            <div class="col-md-3 text-right">
                <a asp-action="CreateRegion" asp-controller="Definition" data-toggle="tooltip" title="Add New" data-placement="bottom">
                    <i class="fas fa-plus fa-2x text-muted"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body col-lg-12">
        <table id="regionTable" class="table table-hover table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Region Name</th>
                    <th>Created Date</th>
                    <th>Created Ip Address</th>             
                </tr>
            </thead>
            <tbody>
                @foreach (var region in Model)
                {
                    string bgColor = region.Status == Convert.ToBoolean(Domain.Enums.Status.Active) ? "success" : "danger";
                <tr class="@bgColor">
                    <td>
                        <a asp-action="EditRegion" asp-controller="Definition" asp-area="Dashboard" asp-route-id=@region.Id class="text-success" data-toggle="tooltip" title="Edit" data-placement="bottom">
                            <i class="far fa-edit text-primary"></i>
                        </a>
                    </td>
                    <td>
                        @if (region.Status == Convert.ToBoolean(Domain.Enums.Status.Active))
                        {
                            <a asp-action="DeleteRegion" asp-controller="Definition" asp-area="Dashboard" asp-route-id=@region.Id data-toggle="tooltip" title="Delete" data-placement="bottom" class="delete">
                                <i class="far fa-trash-alt text-danger"></i>
                            </a>
                        }
                    </td>
                    <td>@region.RegionName</td>
                    <td>@region.AddedDate</td>
                    <td>@region.CreatedIpAddress</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('#regionTable').DataTable();

            $(".delete").click(function (e) {

                var isOK = confirm("Are you sure you want to delete?")
                if (!isOK) {
                    e.preventDefault();
                }
            });

        });
    </script>

}

